<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin.html}">
    <head>
        <title>edit</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                </head>
                <body>
                    <div class="row" layout:fragment="content">
                        <div class="col-lg-12">
                            <section class="panel">
                                <span style="text-align: center; color: red;">
                                    <!--Thông báo thêm thành công-->
                                </span>
                                <header class="panel-heading" style="color: green;font-weight: bold; font-size: 30px">
                                    Update Employee
                                </header>
                                <div class="panel-body">
                                    <div class="position-center">
                                        <form th:method="Post" th:action="@{/edit}" th:object="${oldEmp}" enctype="multipart/form-data">

                                            <div class="form-group">
                                                <label>Employee Code</label>
                                                <input type="text" th:field="*{employeeCode}" class="form-control" readonly="true"/>                                  
                                            </div>
                                             <div style="color: red" th:if="${#fields.hasErrors('employeeCode')}" th:errors="*{employeeCode}"></div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Employee Name</label> <span style="color: red;">*</span>
                                                <input type="text" th:field="*{employeeName}" class="form-control"/>                                  
                                            </div>
                                            <div style="color: red" th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}"></div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Birthday</label> <span style="color: red;">*</span>
                                                <input type="date" th:field="*{birthday}" class="form-control"/>                                  
                                            </div>
                                            <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Gender</label> <span style="color: red;">*</span>
                                                <br/>
                                                Male    &nbsp;&nbsp;<input type="radio" id="genderOption1" th:field="*{gender}" th:value="true" />&nbsp;&nbsp;
                                                Female  &nbsp;&nbsp;<input type="radio" id="genderOption2" th:field="*{gender}" th:value="false" />                              
                                            </div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Address</label> <span style="color: red;">*</span>
                                                <input type="text" th:field="*{address}" class="form-control"/>                                  
                                            </div>
                                            <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Phone Number</label> <span style="color: red;">*</span>
                                                <input type="text" th:field="*{phoneNumber}" class="form-control"/>                                  
                                            </div>
                                            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                                            <br/>
											<div class="form-group">
                                                <label>Present&nbsp;&nbsp;</label><input type="radio" id="genderOption1" th:field="*{status}" th:value="true" />&nbsp;&nbsp;
                                                <label>Absent&nbsp;&nbsp;</label><input type="radio" id="genderOption2" th:field="*{status}" th:value="false" />                          
                                            </div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Email</label> <span style="color: red;">*</span>
                                                <input type="text" th:field="*{email}" class="form-control"/>                                  
                                            </div>
                                            <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                            <br/>
                                            
                                            <div class="form-group">                                             
                                                <input type="hidden" th:field="*{password}" class="form-control"/>                                  
                                            </div>
                                            <br> <br>
                                                    <div class="form-group">
                                                        <label >Position</label>
                                                        <select th:field="*{positionCode}" class="form-control input-sm m-bot15">                                                            
                                                            <option th:each="c: ${pst}" th:value="${c.getPositionCode()}" th:text="${c.getPositionName()}"></option>
                                                        </select>
                                                    </div>
													<br/>

                                            <div class="form-group">
                                                <label >Specialize</label>
                                                <select th:field="*{classCode}" class="form-control input-sm m-bot15">                                                           
                                                    <option th:each="c: ${canimal}" th:value="${c.getClassCode()}" th:text="${c.getClassName()}"></option>
                                                </select>
                                            </div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Active&nbsp;&nbsp;</label><input type="radio" id="genderOption1" th:field="*{activated}" th:value="true" />&nbsp;&nbsp;
                                                <label>Inactive&nbsp;&nbsp;</label><input type="radio" id="genderOption2" th:field="*{activated}" th:value="false" />                             
                                            </div>
                                            <br/>

                                            <div class="form-group">
                                                <label>Upload Image</label>
                                                <input type="file" th:field="*{photo}" id="imgInp" class="form-control" accept=".jpeg,.png,.jpg"></br></br>
                                                    <img id="blah" th:src="@{'data:image/png;base64,'+ ${oldEmp.getPhoto()}}" alt="your image" height="300" /></br></br>
                                            </div>
                                            <br/>

                                            <div class="form-group" style="text-align: center;">
                                                <input  class="btn btn-success" th:type="submit" value="Update" /> &nbsp;
                                                
                                            </div>
                                        </form>
                                    </div>

                        </div>
                        </section>

                    </div>

                    </div>

                </body>

                <script>

                    //javascript để check cho radio
                    document.getElementById("genderOption1").setAttribute("checked", "checked");

                    //để xem hình trc khi lưu xuống database
                    imgInp.onchange = evt => {
                        const [file] = imgInp.files;
                        if (file) {
                            blah.src = URL.createObjectURL(file);
                        }
                    };


                </script>
                </html>
