<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin.html}">
    <head>
        <title>health</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css}"/>
            <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css}"/>
            <script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
            <script th:src="@{https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js}"></script> 
            <script th:src="@{https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js}"></script>
            
            <script type="text/javascript">
         $(document).ready( function () {
            $('#indexTable').DataTable();
        } );
        </script>  
    </head>
    <body>
        <div layout:fragment="content">
            <!--
            <div>
            <form th:action="@{/search}" th:method="Get">
                <input type="text" name="code" placeholder="Enter code....">
                    <input type="submit" value="Search">
            </form>
            
        </div>
            -->
            <table th:id="indexTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th>Animal</th>                     
                    <th>Description</th> 
                    <th>Doctor Note</th>                    
                    <th>Employee</th> 
                    <th>Doctor</th> 
                    <th>Status</th>
                    <th>Action</th> 
                    
                    <!-- <th>Action</th> -->
                    
                </tr>    
                </thead>
                <tbody>
                    <tr th:each="s: ${list}" >        
                    <td th:text="${s.getAnimalCode().getAnimalName()}"></td> 
                    
                    <td th:text="${s.getEmployeeDescription()}"></td>
                    <td th:text="${s.getDoctorNote()}"></td>
                    <td th:text="${s.getEmployeeCode().getEmployeeName()}"></td>
                    <span th:if="${s.getDoctorCode()} != null">
                        <td th:text="${s.getDoctorCode().getEmployeeName()}"></td>
                    </span>
                    <span th:if="${s.getDoctorCode()} == null">
                        <td th:text="Waiting"></td>
                    </span>
                    <td th:text="${s.getHealthStatus()}"></td>
                    <td ><a class="btn btn-info" th:href="@{/health/detail/{id}(id=${s.getHealthTrackingId()})}">Detail</a></td>

                    

                </tr>
                </tbody>   
                
            </table>  
        </div>
    </body>
</html>
