<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin.html}">
    <head>
        <title>Employee Index</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css}"/>
                <link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap4.min.css}"/>
                <script th:src="@{https://code.jquery.com/jquery-3.5.1.js}"></script>
                <script th:src="@{https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js}"></script> 
                <script th:src="@{https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap4.min.js}"></script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#indexTable').DataTable();
                    });
                </script>   


                </head>
                <body>
                    <div layout:fragment="content">
                        <!--
                        <div>
                        <form th:action="@{/search}" th:method="Get">
                            <input type="text" name="code" placeholder="Enter code....">
                                <input type="submit" value="Search">
                        </form>
                        
                    </div>
                        -->
                        <header class="panel-heading" style="color: green;font-weight: bold; font-size: 30px">
                            Employee List
                        </header>
                        <table th:id="indexTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Birthday</th>
                                    <th>Gender</th>
                                    <th>Address</th>   
                                    <th>Phone Number</th> 
                                    <th>Position</th>
                                    <th>Email</th>
                                    <!--                                    <th>Attendance</th>-->
                                    <th>Specialize</th>
                                    <th>Status</th>
                                    <th>Image</th>
                                    <th>Action</th>

                                </tr>    
                            </thead>
                            <tbody>
                                <tr th:each="s: ${emp}" >        
                                    <td th:text="${s.getEmployeeCode()}"></td>
                                    <td th:text="${s.getEmployeeName()}"></td>
                                    <td th:text="${s.getBirthday()}"></td> 
                                    <td>
                                        <div th:if ="${s.getGender()}">Male</div>
                                        <div th:unless ="${s.getGender()}">Female</div>
                                    </td>
                                    <td th:text="${s.getAddress()}"></td> 
                                    <td th:text="${s.getPhoneNumber()}"></td> 
                                    <td th:text="${s.getPositionCode().getPositionName()}"></td> 
                                    <td th:text="${s.getEmail()}"></td> 
                                    <!--                                    <td>
                                                                            <div th:if ="${s.getStatus()}">Present</div>
                                                                            <div th:unless ="${s.getStatus()}">Absent</div>
                                                                        </td> -->
                                    <td th:text="${s.getClassCode().getClassName()}"></td> 
                                    <td>
                                        <div th:if ="${s.getActivated()}">Active</div>
                                        <div th:unless ="${s.getActivated()}">Inactive</div>
                                    </td> 

                                    <td><img th:src="@{'data:image/png;base64,'+ ${s.getPhoto()}}"  alt="fail" style="width: 30px;height: 30px"/></td>

                                    <td>
                                        <div class="btn-group btn-group-md">
                                            <a class="btn btn-info" style="margin: 5px" th:href="@{/edit/{id}(id=${s.getEmployeeCode()})}">Update</a>    
                                            <a class="btn btn-warning" style="margin: 5px" th:href="@{/reset/{id}(id=${s.getEmployeeCode()})}">Reset Password</a>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>   

                        </table> 


                </body>


                </html>
